<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Color</key>
	<integer>8388608</integer>
	<key>Hidden</key>
	<false/>
	<key>Local</key>
	<false/>
	<key>Name</key>
	<string>iCloud</string>
	<key>Owner</key>
	<string>iCloud</string>
	<key>Read Only</key>
	<false/>
	<key>Service Name</key>
	<string>CardDAV Synchronization</string>
	<key>Service UID</key>
	<string>AFC310D2-9618-449E-A72F-C23262F8ADA5</string>
	<key>Service URL</key>
	<string>https://contacts.icloud.com</string>
	<key>Sort Order</key>
	<integer>2</integer>
	<key>UID</key>
	<string>7DD1D9D3-30C5-444D-BA85-A63CA2A72DA0</string>
</dict>
</plist>
